
p{font-size: 20px;font-weight:bold;

}



#p1{font-weight:bold;font-size:20px;


}
.minhaclasse{color:red;
    


}

img{
    background-size:150px 75px;
    width: 90%;
    padding: 70px;
    margin:5px 5px 5px 5;


}


